fastapi>=0.109.0
uvicorn>=0.27.0
gunicorn>=21.2.0
celery==5.3.6
redis>=5.0.1
pydantic>=2.6.0
pydantic-settings>=2.1.0
logfire>=0.1.0
sentry-sdk==1.40.4
pytest==8.0.2
pytest-sugar==1.0.0
pytest-cov==4.1.0
ruff==0.3.0
httpx>=0.26.0
email-validator>=2.2.0